<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老梅笔记</title>
    <link rel="stylesheet" href="../static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/node_modules/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../static/node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/images/logo.jpg">

    <title>Django学习与实战（五）：标签云与文章归档| 编程派 | Coding Python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="django学习, django实战, 标签云, 文章归档">
    <meta name="description" content="通过前四周的时间我们开发了一个简单的个人 Blog，教程地址，本周我们将实现 blog 的标签云和文章按时间自动归档功能。">
    <meta name="author" content="lm@laomeinote.com">

    <link rel="prev" title="Django学习与实战（四）：基于类的通用视图详解" href="/">
    <link rel="next" title="Django学习与实战（六）：文章评论" href="/">

</head>
<body>

    <!--左侧侧边栏-->
    <div id="laomei" class="ui vertical inverted sidebar menu left">
        <a class="item" href="/"><i class="home icon"></i>首页</a>
        <a class="item" href="/category/news"><i class="google icon"></i>K8s</a>
        <a class="item" href="/category/news"><i class="docker icon"></i>Docker</a>
        <a class="item" href="/category/news"><i class="cloud icon"></i>Istio</a>
        <a class="item" href="/category/tutorials"><i class="python icon"></i>Python</a>
        <a class="item" href="/category/katas"><i class="code icon"></i>Go</a>
        <a class="item" href="/category/katas"><i class="java icon"></i>Java</a>

        <a class="item" href="/category/tutorials"><i class="sitemap icon"></i>快速建站</a>
        <a class="item" href="/category/katas"><i class="server icon"></i>网站优化</a>
        <a class="item" href="/category/katas"><i class="dollar sign icon"></i>网站运营</a>
        <a class="item" href="/category/downloads/" target="_blank"><i class="magic icon"></i>雕虫小技</a>
        <a class="item" href="/category/resource/" target="_blank"><i class="star icon"></i>精选资源</a>

        <a class="item" href="/account/register"><i class="user icon"></i>注册</a>
        <a class="item" href="/account/login"><i class="sign in icon"></i>登录</a>

    </div>

    <div class="pusher">
        <!-- 第一部分：menu菜单栏-->
        <nav id="navbar" class="ui stripe">
            <div class="ui  container inverted secondary menu">
                <div class="header item">
                    <a href="http://laomeinote.com" target="_blank" title="laomeinote.com"><img class="ui logo" src="../static/images/logo.jpg" alt="老梅笔记的logo"></a>
                </div>
                <a id="meixuhong" class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item" href="/" target="_blank">首页</a>

                <div class="menu">
                    <div class="ui dropdown item">
                        云原生 <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item">Kubernetes</a>
                            <a class="item">Docker</a>
                            <a class="item">Istio Mesh</a>
                            <a class="item">CI/CD</a>
                        </div>
                    </div>
                </div>

                <div class="menu">
                    <div class="ui dropdown item">
                        编程 <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item">Python</a>
                            <a class="item">Go</a>
                            <a class="item">Java</a>
                        </div>
                    </div>
                </div>

                <div class="menu">
                    <div class="ui dropdown item">
                        网站运营 <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item">建站</a>
                            <a class="item">优化</a>
                            <a class="item">运营</a>
                        </div>
                    </div>
                </div>

                <a class="item" href="/category/downloads/" target="_blank">雕虫小技</a>
                <a class="item" href="/category/resource/" target="_blank">精选资源</a>

                <div class="right menu">
                    <div class="item">
                        <div class="ui search">
                            <div class="ui left icon input">
                                <input class="prompt" type="text" placeholder="输入中文搜索词后请空格" name="keywords" id="keywords" autocomplete="off">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div></div>
                    </div>
                </div>
            </div>



        </nav>

        <!--第二部分： 页面主体-->
        <div id="main">

            <div class="ui container stackable grid">
                <!--设置左侧文章container占用11个栅格-->
                <div class="articles eleven wide column">

                    <div class="ui segment">

                        <a class="ui red ribbon label" href="#" target="_blank"><i class="fork icon"></i>教程</a>
                        <div class="article">
                            <!--设置文章标题-->
                            <div class="header"><a href="#"><h1>Django学习与实战（五）：标签云与文章归档</h1></a></div>
                            <!--设置文章反馈-->
                            <div class="ui feed">
                                <div class="event">
                                    <div class="label"><img src="../static/images/logo.jpg" alt="avatar of this article's author laomei" data-title="老梅" class="avatar"></div>
                                    <div class="content">
                                        <span class="date"><span  data-timestamp="2016-06-17T09:50:28" data-format="fromNow(0)" data-refresh="0" style="display: none">2016-06-17T09:50:28</span></span>
                                        <span class="share-article avatar" data-title="阅读数"><i class="eye icon"></i>1059</span>
                                    </div>
                                </div>
                            </div>

                            <!--设置文章图片-->
                            <div class="image" style="padding-top: 0;text-align:center">
                                <img src="../static/images/bg1.jpg" alt="Django学习与实战（五）：标签云与文章归档">
                            </div>

                            <!--设置文章内容片-->
                            <div class="article-content">
                                <blockquote>
                                    <p>本文首发于<strong>编程派</strong>微信公众号：编程派（微信号：codingpy）是一个专注Python编程的公众号，每天更新有关Python与编程的教程和资源等精选内容，欢迎关注。</p>
                                </blockquote>

                                <p>通过前四周的时间我们开发了一个简单的个人 Blog，教程地址，本周我们将实现 blog 的标签云和文章按时间自动归档功能。</p>
                                <p>之前四周的教程链接如下：</p>
                                <p><strong>第一周</strong>：<a href="/">Django学习与实战（一）：编写博客的 Model 和首页面</a></p>
                                <p><strong>第二周</strong>：<a href="/">Django学习与实战（二）：博客详情页面和分类页面</a></p>
                                <p><strong>第三周</strong>：<a href="/">Django学习与实战（三）：文章列表分页和代码语法高亮</a></p>
                                <p><strong>第四周</strong>：<a href="/">Django学习与实战（四）：基于类的通用视图详解</a></p>
                                <p>标签云与文章归档在 Blog 中也是比较常见的功能，标签云显示每篇文章的标签，文章归档显示某个时间段内的发表的文章，就像这样：</p>
                                <p>标签有点类似于分类，只是分类由于是多对一的关系（我们规定一篇文章只有一个分类，而一个分类下可以有多篇文章），因此在我们的 model 中使用的是 ForeignKeyField 。我们规定一篇文章可以打多个标签，并且一个标签下可能会有多篇文章，是多对多的关系，因此需要使用到 ManyToManyField，其它的实现则和 Category（分类）十分相似。首先修改我们的 model 文件，为标签（tag）新建一个数据库 model，并在文章（Article）中指定它们多对多的关系：</p>
                                <p>类似于 CategoryView，点击某个标签可以获取该标签下的全部文章，对应的视图函数：</p>
                                <p>模板文件稍微小变了一下，添加了显示标签的区域（由于模板文件代码比较多，具体请参见 <a href="/">github</a> 项目中 blog/templates/blog/index.html 下的模板文件）。</p>
                                <p>同时 IndexView 里也别忘了把 tag 加到 context 中，以便在模板中渲染显示：</p>
                                <h2 id="_2">文章归档</h2>
                                <p>文章归档方面，我们实现下面的需求：</p>
                                <p>在首页会显示已发表文章对应的年份列表，点击相应年份会展开该年年份下对应的月份列表，像这样：</p>
                                <p><img alt="blog 文章归档演示" src="../static/images/bg3.jpg"/></p>
                                <p>实现思路大概如下：Django 的 ORM 为我们提供一个 datetimes 函数 （ <a href="/">datetimes 函数用法</a> ），可以选出数据库中某个 model 对应的全部已去重的时间，并且可以任意指定精度。例如，我们想选出全部文章对应的发表时间，精确到月份：</p>
                                <p>created_time 是 Article model 中文章发表时间，对应的是 DatetimeField( datetimes 函数也只能用于DatetimeField )，month 即精确到月，精确到年指定为 year，天则指定为 day 即可。DESC 表示降序排列，默认是升序排列。</p>
                                <p>例如有如下的一系列发表时间：</p>
                                <p>2009-01-02
                                    2009-01-05
                                    2009-02-02
                                    2010-05-04
                                    2011-06-04
                                    2011-06-07</p>
                                <p>则得到的结果将是精确到月份去重后的结果：</p>
                                <p>2009-01
                                    2009-02
                                    2010-05
                                    2011-06</p>
                                <p>这正是我们期望的结果。</p>
                                <p>以这个函数为基础，接下来我们使用 Django 的一点高级技巧（自定义 Manager）来实现完整的功能。</p>
                                <p>什么是 Manager（管理器）？Manager 可以看成是一个 model 的管理器，很多从数据库中获取 model 数据的方法都定义在这个类里，比如我们经常用的 <code>Article.objects.all()</code>，<code>Article.objects.filter()</code>，这里的 objects 就是一个 Manager 的实例，django 为每一个 model 都指定了一个默认的 Manager ，名字叫做 objects。但现在 Manager 中一些默认的方法无法满足我们的需求了，因此我们拓展一下 Manager 的功能，为其添加一个归档（archive）方法，拓展一个类的最佳方式就是继承它：</p>

                                <p>现在我们的时间归档列表格式是这样的：</p>
                                <p>[(2012,[09,02,01]),(2011,[12,10,06,01]),...]</p>
                                <p>因此在模板中我们可以这样循环以实现我们预初的设计：</p>

                                <p>使用一些 bootstrap 的组件即可实现上图一样的效果了。</p>
                                <p>完整的模板请参考<a href="/"> github</a> 的 blog/templates/blog/index.html 模板文件。</p>
                                <p>最后一件事就是实现点击相应的时间后显示该时间下的全部已发表文章列表了，实现思路即通过 url 把对应的年份和月份传给视图函数，视图函数通过年份和月份过滤所需文章，然后再模板渲染即可，实现和 category 与 tag 的方式十分类似：</p>

                                <h2 id="_3">接下来做什么？</h2>
                                <p>我们的个人 blog 基本已经成型了！首页展示文章列表、标签云、文章归档、分类，文章 markdown 语法标记，代码高亮显示，利用 django 后台，我们可以使用它来写 blog 文章了，你可以先尝试着找一个部署教程把 blog 部署上线。当然我们接下来也会出如何部署的教程，敬请期待。下一周我们将实现评论功能，允许用户对我们发表的文章进行评论。为了学习，我们将不使用第三方 app，而是重新发明轮子。</p>
                                <h2 id="django">Django学习小组简介</h2>
                                <p><strong>django学习小组</strong>是一个促进 django 新手互相学习、互相帮助的组织。小组在一边学习 django 的同时将一起完成几个项目，包括：</p>
                                <ul>
                                    <li><strong>一个简单的 django 博客</strong>，用于发布小组每周的学习和开发文档；</li>
                                    <li><strong>django中国社区</strong>，为国内的 django 开发者们提供一个长期维护的 django 社区；</li>
                                </ul>
                                <p>上面所说的这个社区类似于 segmentfault 和 stackoverflow ，但更加专注（只专注于 django 开发的问题）。更多的信息请关注我们的 <a href="/">github 组织</a>，本教程项目的相关源代码也已上传到 github 上。</p>
                                <p>同时，你也可以加入我们的邮件列表 <a href="/">django_study@groups.163.com</a> ，随时关注我们的动态。我们会将每周的详细开发文档和代码通过邮件列表发出。</p>
                                <p>如有任何建议，欢迎提 Issue，欢迎 fork，pr，当然也别忘了 star 哦！</p>



                                <div class="copyright-box ui segment secondary grey">
                                    <p>本站文章除注明转载外，均为本站原创或编译，如需转载，请联系微信公众号“编程派”获得授权。转载时，应注明来源、作者及原文链接。</p>
                                </div>

                                <!--设置文章上下页，分享页-->
                                <div class="ui divider"></div>
                                <div class="nearby">

                                    <div class="ui animated basic button teal" data-content="Django学习与实战（四）：基于类的通用视图详解" data-variation="wide">
                                        <div class="visible content">上一篇</div>
                                        <a href="/"><div class="hidden content">
                                            <i class="left arrow icon"></i>
                                        </div></a>
                                    </div>

                                    <div class="ui animated basic button teal" data-content="Django学习与实战（六）：文章评论" data-variation="wide">
                                        <div class="visible content">下一篇</div>
                                        <a href="/"><div class="hidden content">
                                            <i class="right arrow icon"></i>
                                        </div></a>
                                    </div>

                                    <!--分享部分-->
                                    <div class="share-article ui button teal icon basic">
                                        <i class="share alternate icon"></i>
                                    </div>
                                    <div class="ui popup">
                                        <div class="bdsharebuttonbox bdshare-button-style1-24" data-bd-bind="1444833783821">
                                            <a href="#" class="item bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                            <a href="#" class="item bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                            <a href="#" class="item bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                            <a href="#" class="item bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                            <a href="#" class="item bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="related__wrapper" class="ui segment related-articles">
                        <div class="ui pointing secondary menu section-title">
                            <div class="item active"><i class="tags icon"></i>相关文章</div>
                        </div>
                        <div class="ui three stackable cards">

                            <div class="ui fluid link card">

                                <a href="#" title="福利：《笨办法学Python》电子书及配套视频">
                                    <div class="image">
                                        <div class="related-thumb" style="background-image: url('../static/images/bg4.jpg')" ></div>
                                    </div>

                                </a>

                                <div class="content">
                                    <a class="header" href="#">福利：《笨办法学Python》电子书及配套视频</a>
                                </div>
                            </div>

                            <div class="ui fluid link card">

                                <a href="#" title="Django学习与实战（六）：文章评论">
                                    <div class="image">
                                        <div class="related-thumb" style="background-image: url('../static/images/bg1.jpg')" ></div>
                                    </div>
                                </a>

                                <div class="content">
                                    <a class="header" href="#">Django学习与实战（六）：文章评论</a>
                                </div>
                            </div>

                            <div class="ui fluid link card">

                                <a href="#" title="2015年出现的十大流行Django库">
                                    <div class="image">
                                        <div class="related-thumb" style="background-image: url('../static/images/bg2.jpg')" ></div>
                                    </div>
                                </a>

                                <div class="content">
                                    <a class="header" href="#">2015年出现的十大流行Django库</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!--设置右侧侧边栏，设置5个栅格-->
                <aside id="aside__wrapper" class="five wide column">
                    <!--推荐阅读、热门文章、随机发现三部分，放在一个segment的tab里-->
                    <div class="ui segment">
                        <div id="tab-nav" class="ui pointing secondary menu">
                            <a class="item active" data-tab="recommend">推荐阅读</a>
                            <a class="item" data-tab="popular">热门文章</a>
                            <a class="item" data-tab="random">随机发现</a>
                        </div>
                        <div class="ui tab active" data-tab="recommend">
                            <div class="ui relaxed divided animated list">


                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="Jupyter Notebook 快速入门（上）" href="/" target="_blank">Jupyter Notebook 快速入门（上）</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="硅谷码农用Python写了个机器人，租到了让女友满意的房子" href="/" target="_blank">硅谷码农用Python写了个机器人，租到了让女友满意的房子</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="cloud download icon"></i>
                                    <div class="content">
                                        <a title="使用 Python 进行科学计算：NumPy入门" href="/" target="_blank">使用 Python 进行科学计算：NumPy入门</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="十分钟入门Matplotlib" href="/" target="_blank">十分钟入门Matplotlib</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="从零开发一个小游戏：PyGame 入门" href="/" target="_blank">从零开发一个小游戏：PyGame 入门</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="好用！在 Notebook 中使用 Sublime Text 快捷键" href="/" target="_blank">好用！在 Notebook 中使用 Sublime Text 快捷键</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="leaf icon"></i>
                                    <div class="content">
                                        <a title="十张GIFs让你弄懂递归等概念" href="/" target="_blank">十张GIFs让你弄懂递归等概念</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="Python开发必备神器之一：virtualenv" href="/" target="_blank">Python开发必备神器之一：virtualenv</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="一个危险的Python函数，不推荐使用" href="/" target="_blank">一个危险的Python函数，不推荐使用</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="ui tab" data-tab="popular">
                            <div class="ui relaxed divided animated list">


                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="Vim与Python真乃天作之合" href="/" target="_blank">Vim与Python真乃天作之合</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="一篇文章入门Python生态系统" href="/" target="_blank">一篇文章入门Python生态系统</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="leaf icon"></i>
                                    <div class="content">
                                        <a title=" 写代码时你可以听听这些音乐" href="/" target="_blank"> 写代码时你可以听听这些音乐</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="成为一名更好的程序员：如何阅读源代码" href="/" target="_blank">成为一名更好的程序员：如何阅读源代码</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="GWPY：发现引力波的机构使用的Python包" href="/" target="_blank">GWPY：发现引力波的机构使用的Python包</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="cloud download icon"></i>
                                    <div class="content">
                                        <a title="福利：《笨办法学Python》电子书及配套视频" href="/" target="_blank">福利：《笨办法学Python》电子书及配套视频</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="自己动手开发网络服务器（一）" href="/" target="_blank">自己动手开发网络服务器（一）</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="cloud download icon"></i>
                                    <div class="content">
                                        <a title="编程书单推荐：知名程序员的书架" href="/" target="_blank">编程书单推荐：知名程序员的书架</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="leaf icon"></i>
                                    <div class="content">
                                        <a title="AlphaGo背后的搜索算法：蒙特卡罗树搜索" href="/" target="_blank">AlphaGo背后的搜索算法：蒙特卡罗树搜索</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="ui tab" data-tab="random">
                            <div class="ui relaxed divided animated list">

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="GWPY：发现引力波的机构使用的Python包" href="/" target="_blank">GWPY：发现引力波的机构使用的Python包</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="leaf icon"></i>
                                    <div class="content">
                                        <a title="一图解读Python设计哲学：Python之禅" href="/" target="_blank">一图解读Python设计哲学：Python之禅</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="world icon"></i>
                                    <div class="content">
                                        <a title="编程派公众号正式接受对外投稿啦！" href="/" target="_blank">编程派公众号正式接受对外投稿啦！</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="Python面试必须要看的15个问题" href="/" target="_blank">Python面试必须要看的15个问题</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="leaf icon"></i>
                                    <div class="content">
                                        <a title="2002年，程序员和Unix大神们的桌面长啥样？" href="/" target="_blank">2002年，程序员和Unix大神们的桌面长啥样？</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="leaf icon"></i>
                                    <div class="content">
                                        <a title="程序员的日常：星球大战" href="/" target="_blank">程序员的日常：星球大战</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="world icon"></i>
                                    <div class="content">
                                        <a title="升级到Flask 0.11要注意哪些问题" href="/" target="_blank">升级到Flask 0.11要注意哪些问题</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="leaf icon"></i>
                                    <div class="content">
                                        <a title="2015年最值得关注JS程序员（一）" href="/" target="_blank">2015年最值得关注JS程序员（一）</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="fork icon"></i>
                                    <div class="content">
                                        <a title="比迅雷还要快的视频下载利器You-Get" href="/" target="_blank">比迅雷还要快的视频下载利器You-Get</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!--热门标签的segment-->
                    <div class="ui segment">
                        <div class="ui pointing secondary menu red section-title">
                            <div class="item active"><i class="tags icon"></i>热门标签</div>
                        </div>
                        <div class="ui labels">


                            <a href="#" class="ui label">IDE</a>

                            <a href="#" class="ui label">PyCon</a>

                            <a href="#" class="ui label">编译</a>

                            <a href="#" class="ui label">Flask</a>

                            <a href="#" class="ui label">Codewars</a>

                            <a href="#" class="ui label">Postgresql</a>

                            <a href="#" class="ui label">Django</a>

                            <a href="#" class="ui label">Docker</a>

                            <a href="#" class="ui label">Git</a>

                            <a href="#" class="ui label">程序员</a>

                            <a href="#" class="ui label">开发库</a>

                            <a href="#" class="ui label">漫画</a>

                            <a href="#" class="ui label">编码风格</a>


                        </div>
                    </div>

                    <!--sticky部分-->
                    <div class="ui sticky">

                        <!--微信公众号-->
                        <div class="follow-me ui segment">
                            <div class="ui pointing secondary menu green section-title">
                                <div class="item active"><i class="wechat icon"></i>扫码关注</div>
                            </div>
                            <img class="ui image fluid rounded centered" src="https://cdn.jsdelivr.net/gh/imlaomei/cdn@main/img-hosting/qrcode_for_gh_lm.jpg" style="width:220px;" alt="扫码关注老梅笔记微信公众号">
                        </div>

                    </div>
                </aside>

            </div>

        </div>

        <!--第三部分：footer-->
        <footer>

            <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="three wide column">
                            <h4 class="ui inverted header">关于我</h4>
                            <div class="ui inverted link list">
                                <a href="http://127.0.0.1:5000/sitemap.xml/" class="item">站点地图</a>
                                <a href="/" class="item">联系我们</a>
                                <a href="http://www.miitbeian.gov.cn/">粤ICP备xxxxx</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">社交</h4>
                            <a class="ui circular weibo red icon button" href="http://weibo.com/" target="_blank">
                                <i class="weibo icon"></i>
                            </a>
                            <a class="ui circular icon button" href="http://github.com/" target="_blank">
                                <i class="github alternate blue icon"></i>
                            </a>
                            <a class="ui circular wechat icon button" href="/" target="_blank">
                                <i class="wechat green icon"></i>
                            </a>

                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">技术笔记</h4>
                            <div class="ui inverted link list">
                                <a target="_blank" href="/category/news/" class="item">Kubernetes</a>
                                <a target="_blank" href="/category/tutorials/" class="item">Docker</a>
                                <a target="_blank" href="/category/katas/" class="item">Istio</a>
                                <a target="_blank" href="/category/downloads/" class="item">Python</a>
                                <a target="_blank" href="/category/other-thinkings/" class="item">Go</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">运营笔记</h4>
                            <div class="ui inverted link list">
                                <a target="_blank" href="/category/news/" class="item">快速建站</a>
                                <a target="_blank" href="/category/tutorials/" class="item">网站优化</a>
                                <a target="_blank" href="/category/katas/" class="item">网站运营</a>
                                <a target="_blank" href="/category/downloads/" class="item">雕虫小技</a>
                                <a target="_blank" href="/category/other-thinkings/" class="item">精选资源</a>
                            </div>
                        </div>
                        <div class="four wide column">
                            <h4 class="ui inverted header">Powered by</h4>
                            <div class="ui images">
                                <a target="_blank" href="http://www.python.org"><img src="../static/images/python-favico.ico" alt="python"></a>
                                <a target="_blank" href="http://flask.pocoo.org/"><img src="../static/images/django.png" alt="flask"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>


    <!--注意，jquery必须在semantic前引用-->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/semantic/dist/semantic.min.js"></script>
    <script src="../static/node_modules/@glidejs/glide/dist/glide.min.js"></script>


    <script>

        $('.avatar').popup();

        //右侧侧边栏的标签效果生效
        $('#tab-nav .item').tab();

        //左侧侧边栏
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
        ;

        //右边侧边栏一直粘贴的部分
        $('.ui.sticky')
            .sticky()
        ;

        //菜单栏的dropdown效果
        $('.ui.dropdown')
            .dropdown({
                on: 'hover'
            })
        ;
    </script>

</body>
</html>