<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老梅笔记</title>
    <link rel="stylesheet" href="../static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/node_modules/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../static/node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/images/logo.jpg">
</head>
<body>

    <!--左侧侧边栏-->
    <div id="laomei" class="ui vertical inverted sidebar menu left">
        <a class="item" href="/"><i class="home icon"></i>首页</a>
        <a class="item" href="/category/news"><i class="world icon"></i>资讯</a>
        <a class="item" href="/category/tutorials"><i class="fork icon"></i>教程</a>
        <a class="item" href="/category/katas"><i class="write icon"></i>练习</a>

        <a class="item" href="/category/download"><i class="cloud download icon"></i>资源</a>
        <a class="item" href="/category/other-thinkings"><i class="leaf icon"></i>其他</a>
        <a class="item" href="/account/register"><i class="user icon"></i>注册</a>
        <a class="item" href="/account/login"><i class="sign in icon"></i>登录</a>
    </div>

    <div class="pusher">
        <!-- 第一部分：menu菜单栏-->
        <nav id="navbar" class="ui stripe">
            <div class="ui container inverted secondary menu">
                <div class="header item">
                    <a href="http://laomeinote.com" target="_blank" title="laomeinote.com"><img class="ui logo" src="../static/images/logo.jpg" alt="老梅笔记的logo"></a>
                </div>
                <a id="meixuhong" class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item" href="/" target="_blank">首页</a>
                <a class="item" href="/category/news/" target="_blank">资讯</a>
                <a class="item" href="/category/tutorials/" target="_blank">教程</a>
                <a class="item" href="/category/katas/" target="_blank">练习</a>

                <a class="item" href="/category/downloads/" target="_blank">资源</a>
                <a class="item" href="/category/other-thinkings/" target="_blank">其他</a>
                <div class="right menu">
                    <div class="item">
                        <div class="ui search">
                            <div class="ui left icon input">
                                <input class="prompt" type="text" placeholder="输入中文搜索词后请空格" name="keywords" id="keywords" autocomplete="off">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div></div>
                    </div>
                </div>
            </div>
        </nav>

    <!--在菜单栏下面加入glidejs幻灯图-->
    <div id="Glide" class="glide ui container" >
        <!--轮播图主体-->
        <div class="glide__wrapper">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    <!--五个轮播图的div-->
                    <div class="glide__slide slider__slide">
                        <div class="image">
                            <div class="glidediv" style="background-image: url('../static/images/bg1.jpg')" >
                                <!--在image div中加入dimmer遮蔽层，加入标签按钮-->
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="#"><div class="ui basic inverted big teal button">Python进阶、求职必看的前辈经验分享</div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="glide__slide slider__slide">
                        <div class="image">
                            <div class="glidediv" style="background-image: url('../static/images/bg2.jpg')" >
                                <!--在image div中加入dimmer遮蔽层，加入标签按钮-->
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="#"><div class="ui basic inverted big teal button">Python进阶、求职必看的前辈经验分享</div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="glide__slide slider__slide">
                        <div class="image">
                            <div class="glidediv" style="background-image: url('../static/images/bg3.jpg')" >
                                <!--在image div中加入dimmer遮蔽层，加入标签按钮-->
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="#"><div class="ui basic inverted big teal button">Python进阶、求职必看的前辈经验分享</div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="glide__slide slider__slide">
                        <div class="image">
                            <div class="glidediv" style="background-image: url('../static/images/bg4.jpg')" >
                                <!--在image div中加入dimmer遮蔽层，加入标签按钮-->
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="#"><div class="ui basic inverted big teal button">Python进阶、求职必看的前辈经验分享</div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="glide__slide slider__slide">
                        <div class="image">
                            <div class="glidediv" style="background-image: url('../static/images/bg5.png')" >
                                <!--在image div中加入dimmer遮蔽层，加入标签按钮-->
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="#"><div class="ui basic inverted big teal button">Python进阶、求职必看的前辈经验分享</div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--左右导航箭头,arrow-->
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="left arrow icon"></i></button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="right arrow icon"></i></button>
        </div>

        <!--轮播小原点 bullet-->
        <div class="slider__bullets glide__bullets" data-glide-el="controls[nav]">
            <button class="slider__bullet glide__bullet glide__bullet--active" data-glide-dir="=0"></button>
            <button class="slider__bullet glide__bullet" data-glide-dir="=1"></button>
            <button class="slider__bullet glide__bullet" data-glide-dir="=2"></button>
            <button class="slider__bullet glide__bullet" data-glide-dir="=3"></button>
            <button class="slider__bullet glide__bullet" data-glide-dir="=4"></button>
        </div>

    </div>

        <!--第二部分： 页面主体-->
        <div id="main">
            <!--使用semantic-ui的栅格系统，总共16个grid-->
            <div class="ui container stackable grid">
                <!--设置左侧文章container占用11个栅格-->
                <div class="articles eleven wide column">

                    <!--将文章放置在segment中-->
                    <div class="ui segment">

                        <!--修饰突出文章类型-->
                        <div class="ui pointing secondary menu brown section-title">
                            <div class="item active"><i class="feed icon"></i>
                                Python:最新文章
                            </div>
                        </div>

                        <!--文章主体部分-->
                        <div class="articles">
                            <!--第一篇文章-->
                            <div class="">
                                <!--加上文章的ribbon标签-->
                                <a class="ui red ribbon label" href="#"><i class="facebook icon"></i>facebook</a>
                                <div class="article">
                                    <!--加上h2类型标题 div-->
                                    <div class="header"><a href="#"><h2>如何在Facebook中打广告</h2></a></div>
                                    <!--加上背景图片 div-->
                                    <div class="image ">
                                        <div class="article-thumb" style="background-image: url('../static/images/bg1.jpg')" >
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <a href="#"><div class="ui inverted button">查看详情</div></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--加上文章内容 div-->
                                    <div class="article-content">
                                        <div class="description">
                                            这篇文章还不错啊，赶紧去阅读吧拉，的实例福建省的李开复讲道理傻到家了晚上看风景
                                        </div>
                                    </div>
                                    <!--加上额外信息 div-->
                                    <div class="ui feed">
                                        <div class="event">
                                            <div class="label">
                                                <img src="../static/images/logo.jpg" alt="avatar of laomeinote" data-title="laomeinote" class="avatar">
                                            </div>
                                            <div class="content">
                                                <span class="date">2022-2-26</span>
                                                <span class="category date"><i class="tag icon"></i>facebook广告</span>
                                                <span class="category date"><i class="tag icon"></i>facebook策略</span>
                                                <span class="category date"><i class="tag icon"></i>facebook运营</span>
                                                <span class="category date"><i class="tag icon"></i>facebook玩法</span>
                                                <span class="share-article"><i class="eye icon"></i>25896</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--加上分割线 div-->
                                <div class="ui divider"></div>

                            </div>

                            <!--第二篇文章-->
                            <div class="">
                                <!--加上文章的ribbon标签-->
                                <a class="ui red ribbon label" href="#"><i class="facebook icon"></i>facebook</a>
                                <div class="article">
                                    <!--加上h2类型标题 div-->
                                    <div class="header"><a href="#"><h2>如何在Facebook中打广告</h2></a></div>
                                    <!--加上背景图片 div-->
                                    <div class="image ">
                                        <div class="article-thumb" style="background-image: url('../static/images/bg1.jpg')" >
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <a href="#"><div class="ui inverted button">查看详情</div></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--加上文章内容 div-->
                                    <div class="article-content">
                                        <div class="description">
                                            这篇文章还不错啊，赶紧去阅读吧拉，的实例福建省的李开复讲道理傻到家了晚上看风景
                                        </div>
                                    </div>
                                    <!--加上额外信息 div-->
                                    <div class="ui feed">
                                        <div class="event">
                                            <div class="label">
                                                <img src="../static/images/logo.jpg" alt="avatar of laomeinote" data-title="laomeinote" class="avatar">
                                            </div>
                                            <div class="content">
                                                <span class="date">2022-2-26</span>
                                                <span class="category date"><i class="tag icon"></i>facebook广告</span>
                                                <span class="category date"><i class="tag icon"></i>facebook策略</span>
                                                <span class="category date"><i class="tag icon"></i>facebook运营</span>
                                                <span class="category date"><i class="tag icon"></i>facebook玩法</span>
                                                <span class="share-article"><i class="eye icon"></i>25896</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--加上分割线 div-->
                                <div class="ui divider"></div>

                            </div>

                            <!--第三篇文章-->
                            <div class="">
                                <!--加上文章的ribbon标签-->
                                <a class="ui red ribbon label" href="#"><i class="facebook icon"></i>facebook</a>
                                <div class="article">
                                    <!--加上h2类型标题 div-->
                                    <div class="header"><a href="#"><h2>如何在Facebook中打广告</h2></a></div>
                                    <!--加上背景图片 div-->
                                    <div class="image ">
                                        <div class="article-thumb" style="background-image: url('../static/images/bg1.jpg')" >
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <a href="#"><div class="ui inverted button">查看详情</div></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--加上文章内容 div-->
                                    <div class="article-content">
                                        <div class="description">
                                            这篇文章还不错啊，赶紧去阅读吧拉，的实例福建省的李开复讲道理傻到家了晚上看风景
                                        </div>
                                    </div>
                                    <!--加上额外信息 div-->
                                    <div class="ui feed">
                                        <div class="event">
                                            <div class="label">
                                                <img src="../static/images/logo.jpg" alt="avatar of laomeinote" data-title="laomeinote" class="avatar">
                                            </div>
                                            <div class="content">
                                                <span class="date">2022-2-26</span>
                                                <span class="category date"><i class="tag icon"></i>facebook广告</span>
                                                <span class="category date"><i class="tag icon"></i>facebook策略</span>
                                                <span class="category date"><i class="tag icon"></i>facebook运营</span>
                                                <span class="category date"><i class="tag icon"></i>facebook玩法</span>
                                                <span class="share-article"><i class="eye icon"></i>25896</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--加上分割线 div-->
                                <div class="ui divider"></div>

                            </div>

                            <!--第四篇文章-->
                            <div class="">
                                <!--加上文章的ribbon标签-->
                                <a class="ui red ribbon label" href="#"><i class="facebook icon"></i>facebook</a>
                                <div class="article">
                                    <!--加上h2类型标题 div-->
                                    <div class="header"><a href="#"><h2>如何在Facebook中打广告</h2></a></div>
                                    <!--加上背景图片 div-->
                                    <div class="image ">
                                        <div class="article-thumb" style="background-image: url('../static/images/bg1.jpg')" >
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <a href="#"><div class="ui inverted button">查看详情</div></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--加上文章内容 div-->
                                    <div class="article-content">
                                        <div class="description">
                                            这篇文章还不错啊，赶紧去阅读吧拉，的实例福建省的李开复讲道理傻到家了晚上看风景
                                        </div>
                                    </div>
                                    <!--加上额外信息 div-->
                                    <div class="ui feed">
                                        <div class="event">
                                            <div class="label">
                                                <img src="../static/images/logo.jpg" alt="avatar of laomeinote" data-title="laomeinote" class="avatar">
                                            </div>
                                            <div class="content">
                                                <span class="date">2022-2-26</span>
                                                <span class="category date"><i class="tag icon"></i>facebook广告</span>
                                                <span class="category date"><i class="tag icon"></i>facebook策略</span>
                                                <span class="category date"><i class="tag icon"></i>facebook运营</span>
                                                <span class="category date"><i class="tag icon"></i>facebook玩法</span>
                                                <span class="share-article"><i class="eye icon"></i>25896</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--加上分割线 div-->
                                <!--最后一篇文章不用加分割线-->
                                <!--<div class="ui divider"></div>-->

                            </div>

                        </div>

                    </div>

                </div>

                <!--设置右侧侧边栏，设置5个栅格-->
                <aside id="related__wrapper" class="five wide column">
                    <!-- 1.流行文章 -->
                    <div class="ui segment">
                        <div id="tab-nav" class="ui pointing secondary menu">
                            <a class="item active" data-tab="recommend">推荐阅读</a>
                            <a class="item" data-tab="popular">热门文章</a>
                            <a class="item" data-tab="random">随机发现</a>
                        </div>

                        <div class="ui tab active" data-tab="recommend">
                            <div class="ui relaxed divided animated list">
                                <div class="item">
                                    <i class="google icon"></i>
                                    <div class="content">
                                        <a title="你确定会用Google搜索吗？" href="#" target="_blank">你确定会用Google搜索吗？</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="docker icon"></i>
                                    <div class="content">
                                        <a title="快速使用Docker？" href="#" target="_blank">快速使用Docker的技巧？</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="facebook icon"></i>
                                    <div class="content">
                                        <a title="小伙子，用过facebook吗？" href="#" target="_blank">小伙子，用过facebook吗？</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="google icon"></i>
                                    <div class="content">
                                        <a title="7步洗手法" href="#" target="_blank">7步洗手法</a>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="ui tab" data-tab="popular">
                            <div class="ui relaxed divided animated list">
                                <!--第1篇-->
                                <div class="item">
                                    <i class="twitter icon"></i>
                                    <div class="content">
                                        <a title="how to use twitter in 5 minutes?" href="#" target="_blank">how to use twitter in 5 minutes?</a>
                                    </div>
                                </div>
                                <!--第2篇-->
                                <div class="item">
                                    <i class="twitter icon"></i>
                                    <div class="content">
                                        <a title="how to use twitter in 5 minutes?" href="#" target="_blank">how to use twitter in 5 minutes?</a>
                                    </div>
                                </div>
                                <!--第3篇-->
                                <div class="item">
                                    <i class="twitter icon"></i>
                                    <div class="content">
                                        <a title="how to use twitter in 5 minutes?" href="#" target="_blank">how to use twitter in 5 minutes?</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="ui tab" data-tab="random">
                            <div class="ui relaxed divided animated list">

                                <div class="item">
                                    <i class="google plus icon"></i>
                                    <div class="content">
                                        <a title="一个星期打造一个Django博客系统" href="#" target="_blank">一个星期打造一个Django博客系统</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="google plus icon"></i>
                                    <div class="content">
                                        <a title="Kubernetes实践1：创建一个POD" href="#" target="_blank">Kubernetes实践1：创建一个POD</a>
                                    </div>
                                </div>

                                <div class="item">
                                    <i class="google plus icon"></i>
                                    <div class="content">
                                        <a title="Kubernetes实践2：基于HPA快速弹性" href="#" target="_blank">Kubernetes实践2：基于HPA快速弹性</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- 2.热门标签 -->
                    <div class="ui segment">
                        <div class="ui pointing secondary menu red section-title">
                            <div class="item active"><i class="tags icon"></i>热门标签</div>
                        </div>

                        <div class="ui labels">

                            <!--标签1-->
                            <a href="#" class="ui label">Google</a>
                            <!--标签2-->
                            <a href="#" class="ui label">Facebook</a>
                            <!--标签3-->
                            <a href="#" class="ui label">Kubernetes</a>
                            <!--标签4-->
                            <a href="#" class="ui label">Docker</a>
                            <!--标签5-->
                            <a href="#" class="ui label">Python</a>

                        </div>
                    </div>

                    <!-- 3.sticky模块 -->
                    <div class="ui sticky">
                        <!--微信公众号-->
                        <div class="follow-me ui segment">
                            <div class="ui pointing secondary menu green section-title">
                                <div class="item active"><i class="wechat icon"></i>扫码关注</div>
                            </div>
                            <img class="ui image fluid rounded centered" src="https://cdn.jsdelivr.net/gh/imlaomei/cdn@main/img-hosting/qrcode_for_gh_lm.jpg" style="width:220px;" alt="扫码关注老梅笔记微信公众号">
                        </div>
                    </div>
                </aside>
            </div>
        </div>

        <!--第三部分：footer-->
        <footer>

            <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="three wide column">
                            <h4 class="ui inverted header">关于老梅笔记</h4>
                            <div class="ui inverted link list">
                                <a href="http://127.0.0.1:5000/sitemap.xml/" class="item">站点地图</a>
                                <a href="/" class="item">联系我们</a>
                                <a href="http://www.miitbeian.gov.cn/">粤ICP备xxxxx</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">关注老梅笔记</h4>
                            <a class="ui circular weibo red icon button" href="http://weibo.com/" target="_blank">
                                <i class="weibo icon"></i>
                            </a>
                            <a class="ui circular twitter icon button" href="https://twitter.com/" target="_blank">
                                <i class="twitter icon"></i>
                            </a>
                            <a class="ui circular icon button" href="http://github.com/" target="_blank">
                                <i class="github alternate blue icon"></i>
                            </a>
                            <a class="ui circular wechat icon button" href="/" target="_blank">
                                <i class="wechat green icon"></i>
                            </a>

                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">导航</h4>
                            <div class="ui inverted link list">
                                <a target="_blank" href="/category/news/" class="item">资讯</a>
                                <a target="_blank" href="/category/tutorials/" class="item">教程</a>
                                <a target="_blank" href="/category/katas/" class="item">练习</a>
                                <a target="_blank" href="/category/downloads/" class="item">资源</a>
                                <a target="_blank" href="/category/other-thinkings/" class="item">其他</a>
                            </div>
                        </div>
                        <div class="seven wide column">
                            <h4 class="ui inverted header">Powered by</h4>
                            <div class="ui images">
                                <a target="_blank" href="http://www.python.org"><img src="../static/images/python-favico.ico" alt="python"></a>
                                <a target="_blank" href="http://flask.pocoo.org/"><img src="../static/images/flask.png" alt="flask"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>


    <!--注意，jquery必须在semantic前引用-->
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/semantic/dist/semantic.min.js"></script>
    <script src="../static/node_modules/@glidejs/glide/dist/glide.min.js"></script>

    <!--glidejs轮播图效果-->
    <script>
        new Glide('#Glide',{
            type: 'carousel',
            gap: 20,
            focusAt: 'center',
            perView: 1,
            autoplay: 2000,
            animationDuration: 300,
            arrows: {
                prev: '.glide__arrow--left',
                next: '.glide__arrow--right'
            },
            //设置轮播图左右侧距离
            peek: {
                before: 240,
                after: 240,
            }
        }).mount();

    </script>

    <script>
        <!--设置鼠标移动时的dimmer遮蔽效果-->
        $('.article-thumb').dimmer({
            on: 'hover',
            opacity: 0.7,
        });

        //设置轮播图的dimmer遮蔽效果
        $('.glidediv').dimmer({
            on: 'hover',
            opacity: 0.7,
        });

        $('.avatar').popup();

        //右侧侧边栏的标签效果生效
        $('#tab-nav .item').tab();

        //左侧侧边栏
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
        ;

        //右边侧边栏一直粘贴的部分
        $('.ui.sticky')
            .sticky()
        ;

    </script>

</body>
</html>