<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>老梅笔记</title>
    <link rel="stylesheet" href="../static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/node_modules/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../static/node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" href="../static/images/logo.jpg">
</head>
<body>

    <div id="laomei" class="ui vertical inverted sidebar menu left">
        <a class="item" href="/"><i class="home icon"></i>首页</a>
        <a class="item" href="/category/news"><i class="world icon"></i>资讯</a>
        <a class="item" href="/category/tutorials"><i class="fork icon"></i>教程</a>
        <a class="item" href="/category/katas"><i class="write icon"></i>练习</a>

        <a class="item" href="/category/download"><i class="cloud download icon"></i>资源</a>
        <a class="item" href="/category/other-thinkings"><i class="leaf icon"></i>其他</a>
        <a class="item" href="/account/register"><i class="user icon"></i>注册</a>
        <a class="item" href="/account/login"><i class="sign in icon"></i>登录</a>
    </div>

    <div class="pusher">
        <h1>测试页面</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur est mollitia natus nemo provident quo repudiandae temporibus. Alias doloribus explicabo id ipsam, pariatur perferendis possimus quaerat, quod quos saepe voluptate.</p>
    </div>

</body>
</html>